p{
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card{
  background-color: rgb(33, 33, 33) ;
  width:360px ;
  padding-top: 20px ;
  padding-bottom: 20px ;
  padding-left: 15px;
  padding-right: 15px ;
}

.title{
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.subtitle{
  color: rgb(160, 160, 160) ;
}