p{
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.title{
  font-weight: bold;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content{
  margin-bottom: 20px;
}

.link{
  color: rgb(58, 108, 199);
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
  
}